[package]
name = "bevy_ggrs"
version = "0.1.0"
authors = ["Georg Schuppe <georg.schuppe@gmail.com>"]
edition = "2018"
description = "Bevy plugin for the GGRS P2P rollback networking library"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/gschup/bevy_ggrs"
homepage = "https://gschup.github.io/ggrs/"
keywords = ["gamedev", "networking", "ggpo", "rollback", "bevy", "ggrs"]
categories = ["network-programming", "game-development"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = { git = "https://github.com/bevyengine/bevy.git", branch = "main", default-features = false }
instant = "0.1"
ggrs = "0.5.1"
#ggrs = { git = "https://github.com/gschup/ggrs.git", branch = "main" }

[dev-dependencies]
structopt = "0.3"
rand = "0.8.4"
bevy = { git = "https://github.com/bevyengine/bevy.git", branch = "main"}

# Examples
[[example]]
name = "box_game_synctest"
path = "examples/box_game/box_game_synctest.rs"

[[example]]
name = "box_game_p2p"
path = "examples/box_game/box_game_p2p.rs"

[[example]]
name = "box_game_spectator"
path = "examples/box_game/box_game_spectator.rs"

[[example]]
name = "box_game_synctest_checksum"
path = "examples/box_game/box_game_synctest_checksum.rs"